body {
    font-family: Georgia, serif;
    font-size: 20px;
}

h1, h2 {
    margin: 0;
}

p {
    line-height: 1.5em;
}

div { 
    base {
    background-color: #eeeeee;  
}
}

section.bloco1 {
    background-color: orange;
}

section.bloco2 {
    background-color: green;
}

section.bloco3 {
    background-color: red;
}

div.base {
    width: 960px;
    margin: 0 auto;
}

section.bloco1 {
    width: 200px;
}
section.bloco1 {
    float: left;
}

section.bloco2 {
    margin-left: 200px;
}